[submodule "plugins/source/auto-pairs"]
	path = plugins/source/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.vim
[submodule "plugins/source/vim-polyglot"]
	path = plugins/source/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.vim
[submodule "plugins/source/coc.nvim"]
	path = plugins/source/coc.nvim
	url = https://github.com/neoclide/coc.vim
[submodule "plugins/source/onedark.vim"]
	path = plugins/source/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "plugins/source/sonokai"]
	path = plugins/source/sonokai
	url = https://github.com/sainnhe/sonokai
[submodule "plugins/source/vim-airline"]
	path = plugins/source/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "plugins/source/vim-airline-themes"]
	path = plugins/source/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "plugins/source/fzf"]
	path = plugins/source/fzf
	url = https://github.com/junegunn/fzf
[submodule "plugins/source/fzf.vim"]
	path = plugins/source/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "plugins/source/vim-rooter"]
	path = plugins/source/vim-rooter
	url = https://github.com/airblade/vim-rooter
